<style>
    .message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<section class="message">
    <div>
        <h3>{{title}}</h3>
        <p>{{message}}</p>
    </div>
</section>